<template>
  <v-app>
    
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md6 lg5 x14>
            <v-card class="elevation-12">
              <v-window v-model="step">
                <v-window-item :value="1">
                  <v-row>
                    <v-col cols="12" md="6">
                      <v-card-text class="mt-12">
                        <h1 class="text-center display-2 teal--text text--accent-3">Login</h1>
                        <h4 class="text-center mlt-4"></h4>
                        <v-form>
                          <v-text-field
                            v-model="email"
                            label="Email"
                            name="Email"
                            prepend-icon="email"
                            type="text"
                            color="teal accent-3"
                            :rules="[v => !!v || 'Email es requerido']"
                            required
                          />
                          <v-text-field
                            v-model="password"
                            id="password"
                            label="Password"
                            name="Password"
                            prepend-icon="lock"
                            :rules="[v => !!v || 'Password es requerido']"                           
                            :append-icon="show1 ? 'visibility' : 'visibility_off'"
                            :type="show1 ? 'text' : 'password'"
                            hint="At least 8 characters"
                            @click:append="show1 = !show1"
                          />
                          <v-checkbox
                            light label="Recuerdame"
                            
                          />
    
                          
                        </v-form>

                        <h3 class="text-center mt-3">Olvidaste tu contraseña</h3>
                      </v-card-text>

                      <div class="text-center mt-3">
                        <v-btn @click="ingresar()" rounded color="teal accent-3">Ingresar</v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12" md="6" class="teal accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Hola, Amigos</h1>
                        <h5 class="text-center">Ingresa con tus datos, y empieza a reportar incidencias!!!</h5>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined="" dark @click="step++">Registrate</v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
                <v-window-item :value="2">
                  <v-row class="fill-height">
                    <v-col cols="12" md="5" class="teal accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Bienvenido de Nuevo</h1>
                        <h5 class="text-center">Ingresa con tus datos</h5>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step--">Ya tienes una cuenta ?</v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12" md="7">
                      <v-card-text class="mt-12">
                        <h1 class="text-center display-2 teal--text text--accent-3">Crear Cuenta</h1>
                        <h4 class="text-center mt-4">Ingresa tu correo electrico para registrarte</h4>
                        <v-form>
                          <v-text-field
                            label="Name"
                            name="Name"
                            prepend-icon="person"
                            type="text"
                            color="teal accent-3"
                            :rules="[v => !!v || 'Nombre es requerido']" 
                            required
                          />
                          <v-text-field
                            label="Email"
                            name="Email"
                            prepend-icon="email"
                            type="text"
                            color="teal accent-3"
                            required
                            :rules="[v => !!v || 'Email es requerido']" 
                          />
                          <v-text-field
                            label="Password"
                            name="Password"
                            prepend-icon="lock"
                            type="password"
                            color="teal accent-3"
                            :rules="[v => !!v || 'Password es requerido']" 
                            required
                          />
                        </v-form>
                      </v-card-text>
                      <div class="text-center mt-n5">
                        <v-btn rounded color="teal accent-3" dark>Registrar</v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
              </v-window>
            </v-card>
      </v-flex>
    </v-layout>
   
  </v-app>
</template>

<script>

import { VueReCaptcha } from "vue-recaptcha";
 
export default {
  data: () => ({
    step: 1,
    show1:false
  }),
  props: {
    source: String,
  },

  methods:{
    ingresar(){
            axios.post('',{email:this, password: this.password})
            .then(function(response){

            }).catch(function(error){
                //console.log(error);
                this.errorM=null;
                if(error.response.status==404){
                    this.errorM='No existe el usuario o las credenciales son incorrectas';
                }else{
                    this.errorM='Ocurrio un error con el servidor';
                }
            });
    }
  },
  return:{
     show: false,
        show1: false,
        password: 'Password',
        rePassword: 'Password',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match')
  }
  }
};
</script>
