<template>
  <v-app>
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="8">
            <v-card class="elevation-12">
              <v-window v-model="step">
                <v-window-item :value="1">
                  <v-row>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1 class="text-center display-2 teal--text text--accent-3">Acesso al sistema</h1>
                        <h4 class="text-center mlt-4">Ingresa tus datos</h4>
                        <v-form>
                          <v-text-field
                            label="Email"
                            name="Email"
                            prepend-icon="email"
                            type="text"
                            color="teal accent-3"
                            required
                          />
                          <v-text-field
                            id="password"
                            label="Password"
                            name="Password"
                            prepend-icon="lock"
                            type="password"
                            color="teal accent-3"
                            required
                          />
                        </v-form>
                        <h3 class="text-center mt-3">Olvidaste tu contraseña</h3>
                      </v-card-text>
                      <div class="text-center mt-3">
                        <v-btn @click="ingresar()" rounded color="teal accent-3">Ingresar</v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12" md="4" class="teal accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Hola, Amigos</h1>
                        <h5 class="text-center">Ingresa con tus datos, y empieza a reportar incidencias!!!</h5>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined="" dark @click="step++">Registrate</v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
                <v-window-item :value="2">
                  <v-row class="fill-height">
                    <v-col cols="12" md="4" class="teal accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Bienvenido de Nuevo</h1>
                        <h5 class="text-center">Quedate conectado con nosotros e ingresa con tus datos</h5>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step--">Ya tienes una cuenta ?</v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1 class="text-center display-2 teal--text text--accent-3">Crear Cuenta</h1>
                        <h4 class="text-center mt-4">Ingresa tu correo electrico para registrarte</h4>
                        <v-form>
                          <v-text-field
                            label="Name"
                            name="Name"
                            prepend-icon="person"
                            type="text"
                            color="teal accent-3"
                          />
                          <v-text-field
                            label="Email"
                            name="Email"
                            prepend-icon="email"
                            type="text"
                            color="teal accent-3"
                            required
                          />
                          <v-text-field
                            label="Password"
                            name="Password"
                            prepend-icon="lock"
                            type="password"
                            color="teal accent-3"
                          />
                        </v-form>
                      </v-card-text>
                      <div class="text-center mt-n5">
                        <v-btn rounded color="teal accent-3" dark>Registrar</v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
              </v-window>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
/*import axios from 'axios';
export default {
    data (){
        return{
            email:'',
            password:'',
            errorM:null
        }
    },
    methods:{
        ingresar(){
            axios.post('usuario/login',{email:this, password: this.password})
            .then(function(response){
                console.log(response.data.user);
                console.log(response.data.tokenReturn);
            }).catch(function(error){
                //console.log(error);
                this.errorM=null;
                if(error.response.status==404){
                    this.errorM='No existe el usuario o las credenciales son incorrectas';
                }else{
                    this.errorM='Ocurrio un error con el servidor';
                }
            });
        }
    }
}
*/
</script>