<template>
  <v-app>
    <v-content>
          <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="teal dark accent-3"
      dark
    >
      <v-toolbar-title
        style="width: 200px"
        class="ml-0 pl-4"
      >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <span class="hidden-sm-and-down">SISTEMA</span>
      </v-toolbar-title>
           <v-spacer></v-spacer>
      <v-btn @click="salir()" icon v-if="logueado">
        <v-icon>logout</v-icon>Salir
      </v-btn>
      <v-btn :to="{name: 'login'}" icon v-else>
        <v-icon>apps</v-icon>
      </v-btn>
    </v-app-bar>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},

  data: () => ({
    //
  }),
};
</script>